# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
.vscode

# Вспомогательные файлы
*.log*
node_modules/
*.http
*/service/logs/*
!*/service/logs/.gitkeep

# Моковые данные
mock.json


# Папка с собранными файлами проекта
build/

# Директория с загруженными изображениями
*/express/upload/img/*.*
!*/express/upload/img/.gitkeep
