extends ../layouts/layout.pug

block content
  include ../partials/utils.pug

  include ../mixins/preview-list.pug
  include ../mixins/categories.pug
  include ../mixins/pagination.pug

  .wrapper
    include ../partials/header-main.pug

    main.articles-category
      h1 #{activeCategory.name}
      section.articles-category__theme-list
        h2.visually-hidden Список тем
        +categories(pugCategories, activeCategory)

      section.articles-category__list.preview
        h2.visually-hidden Список превью статей

        +preview-list(pugArticles)

      +pagination(page, totalPages, 2, `?`)

    include ../partials/footer.pug
