extends ../layouts/layout.pug

block content
  include ../partials/utils.pug

  include ../mixins/preview-list.pug
  include ../mixins/categories.pug

  .wrapper
    include ../partials/header-main.pug

    main.articles-category
      h1 #{activeCategory.name}
      section.articles-category__theme-list
        h2.visually-hidden Список тем
        +categories(pugCategories)

      section.articles-category__list.preview
        h2.visually-hidden Список превью статей

        +preview-list(pugArticles)

      .preview__toggle-wrapper
        ul.preview__pagination.pagination
          li
            a.pagination__button.button.button--backwards.button--disabled(href='#', aria-label='Страница назад') Назад
          li.pagination__item.pagination__item--active
            a(href='#') 1
          li.pagination__item
            a(href='#') 2
          li.pagination__item
            a(href='#') 3
          li.pagination__item
            a(href='#') 4
          li.pagination__item
            a(href='#') 5
          li
            a.pagination__button.button.button--forward(href='#', aria-label='Страница вперед') Вперед

    include ../partials/footer.pug
